* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eee;
}

.container {
    background: white;
    padding: 20px;
    width: 300px;
    border-radius: 8px;
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

button{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 2px solid black;
    background: #e28f12;
    color: white;
    cursor: pointer;
}

.okvir {
    background: #f2f2f2;
    padding: 8px;
    margin-top: 10px;
}


