body {
    font-family: Arial;
}

.okvir {
    display: flex;
    border: 3px solid black;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

.kalkulator {
    width: 70%;
}

.slika {
    width: 30%;
    text-align: center;
}

input {
    margin: 4px;
}

label {
    display: inline-block;
    width: 150px;
    margin-right: 5px;
}
